* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
}



.navbarC .navBarDiv {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  margin-left: 20px;
}

.navbarC .navBarDiv img {
  mix-blend-mode: multiply;
}

.navbarC .navBarDiv a {
  text-decoration: none;
  font-size: xx-large;
  font-weight: 700;
  color: white;
}

/* sidebarmenu */
.sidebarmenu {
  width: 20%;
  background: white;
  height: 100%;
  position: fixed;
}

#logoutNav {
  cursor: pointer;
}

.content {
  margin-left: 20%;
}

.sidebarmenu a {
  display: block;
  width: 100%;
  padding: 10px 25px;
  color: #FF5722;
  font-weight: 500;
  text-decoration: none;
}

.sidebarmenu a:hover {
  background-color: #efefef;
}

@media only screen and (max-width:600px) {
  .sidebarmenu {
    display: none;
    width: 80% !important;
    background: white;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
  }

  .content {
    margin-left: 0% !important;
  }
}

.sidebarmenu .divider {
  width: 100%;
  height: 3px;
  background: #efefef;
  margin: 20px;
}

/* category card */

.cardsGrouopDiv {
  display: flex;
  justify-content: center;
}

.operationCategoryDiv {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  margin-top: 5px;
}

.addNewCategory,
.deleteCategory {
  background: white;
  width: 90%;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: #FF5722;
  padding: 10px;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}



#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
}

/* Style the card */
.cardCategory {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonClickmart {
  background-color: #FF5722;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: #FF5722;
}

.buttonClickmart:hover {
  background-color: rgb(221, 83, 68);
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: #FF5722;
}


#categoryImage {
  height: 150px;
  object-fit: cover;
}

.categoryImage {
  height: 150px;
  object-fit: cover;
}



#loadMore {
  cursor: pointer;
  color: #FF5722;
}


/*popup*/

.popup-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#openFormBtn {
  margin-bottom: 20px;
}

#closeFormBtn {
  margin-left: 10px;
}

.active {
  display: block;
}

.inactive {
  display: none;
}


.list-group-item {
  display: flex;
  justify-content: space-between;
}

.label {
  width: 50%;
  text-align: center;
  padding-right: 10px;
  font-weight: bold;
}

.value {
  width: 50%;
  text-align: center;
}

.publicText {
  color: green;
  font-weight: bold;
}

.privateText {
  color: red;
  font-weight: bold;
}

#closeButtonDiv {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 4px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

#addCategory{
  cursor: pointer;
}


.cardpriceh3{
  color: red;
}

.carddiscounth3{
  color: green;
}

.priceDiscountDiv{
  display: flex;
  justify-content: space-between;
}