<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="~{base::baselayout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Help - ClickMart</title>
</head>
<body>
    <section>

        
        <div class="text-center m-3 ">


            <div class="accordion" id="accordionExample">

            </div>


            <h5 id="loadMore">Load More</h5>
          </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/javascript/help.js"></script>
    </section>
</body>
</html>