<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="~{base::baselayout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Product - ClickMart</title>
</head>
<body>
    <section>

              <!-- cards -->
      <div class="cardsGrouopDiv">
        <div class="card w-50 m-2">
          <div class="card-body">
            <h3 class="card-title d-inline">Total Product : </h3>
            <h3 class="d-inline" th:text="${count}"></h3>
          </div>
        </div>

        <div class="card w-50 m-2">
            <div class="card-body">
              <h3 class="card-title d-inline">Out of stock Product : </h3>
              <h3 class="d-inline" th:text="${outofstock}"></h3>
            </div>
          </div>

      </div>

      <div class="operationCategoryDiv">
        <div class="addNewCategory" id="addCategory">
          <div class="imgDiv"><img class="addImg" src="/img/addIcon.png" alt="addNewCategory"></div>
          <h3 class="text-center">Add new Prooduct</h3>
        </div>
      </div>

      <h3 class="text-center mt-5">Existing Product</h3>

      <hr>
      <div id="cardContainer" class="card-container">
        <!-- Cards will be dynamically added here -->
      </div>


      <div class="text-center m-3 ">
        <h5 id="loadMore">Load More</h5>
      </div>




         <!-- Pop-up form -->
    <div class="popup-form" id="popupForm">
        <div class="form-container">
          <div id="closeButtonDiv"><img id="closeform" src="/img/close.png"
              style="cursor: pointer; height: 20px; width: 20px	;" /></div>
          <div class="container">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title m-3 text-center" style="font-weight: bold; color: #ff5722;">Product Detail</h5>

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">                  
                    <!-- Carousel Inner -->
                    <div class="carousel-inner">
                      <!-- Images will be dynamically added here -->
                    </div>
                  
                    <!-- Carousel Controls -->
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" id="prevButton" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #ff5722; margin: 10px; padding: 20px; border-radius: 50%;"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" id="nextButton" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #ff5722; margin: 10px; padding: 20px; border-radius: 50%;"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="label">Product Id :</div>
                    <div class="value" id="categoryId"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="label">Product Name :</div>
                    <div class="value" id="categoryName"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="label">Price :</div>
                    <div class="value" id="price"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="label">Discount :</div>
                    <div class="value" id="discount"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="label">Category :</div>
                    <div class="value" id="categoryOfProduct"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="label">Available :</div>
                    <div class="value" id="visibility"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="label">Quantity :</div>
                    <div class="value" id="quantity"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="label">Description :</div>
                    <div class="value" id="categoryBrief"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="buttonDiv">
            <button type="button" class="btn btn-primary m-4" id="updateCategoryButton">Update Product</button>
            <button type="button" class="btn btn-success m-4" id="changeVisibilityButton">Change Availibality</button>
            <button type="button" class="btn btn-success m-4" id="addMoreQuantityButton">Add more Quantity</button>
            <button type="button" class="btn btn-danger m-4" id="deleteCategoryButton">Delete</button>
          </div>
  
        </div>
      </div>


      <div class="popup-form" id="addCategorypopupForm">
        <div class="form-container">
          <div id="closeButtonDiv"><img id="closeaddCategoryform" src="/img/close.png"
              style="cursor: pointer; height: 20px; width: 20px	;" /></div>
          <div class="container">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title m-3 text-center" style="font-weight: bold; color: #ff5722;" id="formTitleCategory">Add Product</h2>
                <form id="categoryForm" enctype="multipart/form-data">
                  <!-- Name Field -->
                  <div class="form-group m-2">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="categoryname" name="name" required>
                  </div>
  
                  <!-- Brief Field -->
                  <div class="form-group m-2">
                    <label for="brief">Description:</label>
                    <textarea class="form-control" id="brief" name="categorybrief" rows="4" required></textarea>
                  </div>
  
                  <!-- Price Field -->
                  <div class="form-group m-2">
                    <label for="priority">Price:</label>
                    <input type="number" class="form-control" step="0.01" id="catprice" name="catprice" min="1" required>
                  </div>

                    <!-- Discount Field -->
                  <div class="form-group m-2">
                    <label for="priority">Discount:</label>
                    <input type="number" class="form-control" step="0.01" id="catDiscount" name="catDiscount" min="0" required>
                  </div>


                    <!-- Quantity Field -->
                    <div class="form-group m-2">
                        <label for="priority">Quantity:</label>
                        <input type="number" class="form-control" id="catQuantity" name="catQuantity" min="1" required>
                      </div>
  
                  <!-- isAvailable Field -->
                  <div class="form-group ">
                    <label for="isPublic">isAvailable:</label>
                    <select class="form-control" id="catIsAvailable" name="catIsAvailable" required>
                      <option value="true">YES</option>
                      <option value="false">NO</option>
                    </select>
                  </div>

                    <!-- Category Field -->
                  <div class="form-group ">
                    <label for="isPublic">Select Product Category:</label>
                    <select class="form-control" id="producyCat" name="producyCat" required>

                    </select>
                  </div>
  
                  
                  <!-- images Field (File Input) -->
                  <div class="form-group mt-5" id="productImageInput">
                    <label for="icon">Icon:</label>
                    <input type="file" class="form-control-file" id="icon" name="icon" accept="image/*" required multiple>
                  </div>
  
  
                  <div class="buttonDiv">
                    <button type="submit" class="btn btn-success m-4 active" id="addProductButton">Save Product</button>
                    <button type="submit"  class="btn btn-success m-4 " id="updateProductButton">Update Product</button>
                    <button type="reset" class="btn btn-primary m-4" id="resetCategoryButton">Reset</button>
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="chandeVisibilityModel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Change Product Availibality</h5>
            </div>
            <div class="modal-body" id="modalBody">
              This is the content of the modal.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="closeConfirmVisibility">Close</button>
              <button type="button" class="btn btn-primary" id="confirmChangeVisibilityBtn">Change</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="quantityInputModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add more Quantity</h5>
            </div>
            <div class="modal-body">
              <label for="numberInput">Enter Quantity:</label>
              <input type="number" id="quantityInput" class="form-control" min="1" step="1" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModelQuantityButton">Close</button>
              <button type="button" class="btn btn-primary" id="addQuantityButton">Add</button>
            </div>
          </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="/javascript/product.js"></script>
    </section>
</body>
</html>